<h1 align="center">New tenant</h1>
<div class="row mt-3">
  <div class="offset-4 col-md-4">

        <%= form_for @tenant, url: {action: "create"}  do |f| %>
			
			<div class="font-weight-bold"> Location: <%=@location.name%> </div>
			<div class="form-group font-weight-bold">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>

			<div class="form-group font-weight-bold text-center">
				<%= f.submit "Add tenant", class: "btn btn-primary form-control" %>
			</div>
			<%= link_to "Back to #{@location.name}", location_url(@location.id) %>

		<% end %>
	</div>
</div>
