<h1><%= @tenant.name %></h1>

<b> Location: </b> <%= link_to @tenant.location.name, location_url(@tenant.location_id) %>
<h5 class="mt-3 mb-3">Tenant Manager</h5>



<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-balance-tab" data-toggle="tab" href="#nav-balance" role="tab" aria-controls="nav-balance" aria-selected="false">Balance</a>
    <a class="nav-item nav-link" id="nav-contracts-tab" data-toggle="tab" href="#nav-contracts" role="tab" aria-controls="nav-contracts" aria-selected="true">Contracts</a>
    <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false">Info</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-balance" role="tabpanel" aria-labelledby="nav-profile-balance">
    <div class="m-3">The following is a table to show you all the payments and dues for this tenant.</div>

    <%= render partial: 'payments/table', locals: {payments: @payments, tenants: @tenant, dues: @dues} %>
  </div>

  <div class="tab-pane fade" id="nav-contracts" role="tabpanel" aria-labelledby="nav-contracts-tab">
    <div class="m-3">The following are contracts for this tenant.</div>
    <div class="row">
        <% @tenant.contracts.each do |c| %>
            <%= render partial: 'contracts/show', locals: {contract: c, deletion: false} %>
        <% end %>
    </div>
    <div class="m-3">
        <%=link_to "Add new contract", new_location_contract_path(@tenant.location.id, tenant_id: @tenant.id)%>
    </div>
  </div>
    
  <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
    <div class="m-3">No information to display.</div>
    <%=render partial: "shared/confirm", locals: { typeString: "tenant",
                                               objectName: @tenant.name,
                                               url: tenant_url(id: @tenant.id),
                                              isOwner: @tenant.location.user == current_user }%>

  </div>
</div>
