<h1><%= @tenant.name %></h1>

<h3>Contracts</h3>

<% @contracts.each do |c| %>
    <div>
    <%= c.unit.name %>
    Start Date: <%= c.start_date %>
    End Date: <%= c.end_date %>
    <%= link_to "View contract", contract_url(c.id) %>
    </div>
<% end %>

<div>
<%=link_to "+", new_tenant_contract_path(@tenant.id), class: "btn btn-primary mt-1"%>
</div>