<div class="card m-3 p-3" style="width: 400px">
                
    <div><b>Name: </b><%= link_to contract.tenant.name, tenant_path(contract.tenant_id) %></div>
    <div><b>Location: </b><%= link_to contract.unit.location.name, location_url(contract.unit.location_id) %></div>
    <div><b>Unit: </b><%= link_to contract.unit.name, location_unit_url(location_id: contract.unit.location_id, id: contract.unit_id) %></div>
    <div><b>Start date: </b><%= contract.start_date.strftime("%B %d %Y") %></div>
    <div><b>End date: </b><%= contract.end_date.strftime("%B %d %Y") %></div>
    <div><b>Charge:</b> <%= contract.charge %></h1></div>
    <div><b>Status:</b> <%= render partial: 'contracts/status', locals: {contract: contract} %></div>
    <b>Dues:</b>
    <div>
        <%contract.dues.each do |d|%>
            <div class="btn btn-primary">P<%=d.amount %> (<%=d.due_date.strftime("%b %d %y")%>) - <%=d.remark %> </div>

            <%if deletion && d.contract.unit.location.user == @current_user%>
                <%=link_to "X", location_due_url(location_id: d.contract.unit.location_id, id: d.id), method: :delete, class: "btn btn-danger"%>
            <%end%>
        <%end%>
    </div>
    <%if contract.unit.location.user == @current_user %>
    <div><%= link_to "Edit dues", default_location_due_url(location_id: contract.unit.location.id, id: contract.id) %></div>
    <div><%= link_to "Edit contract", edit_location_contract_url(location_id: contract.tenant.id, id: contract.id) %></div>
    <div class="text-danger"><%= link_to "Delete contract", location_contract_url(location_id: contract.unit.location_id, id: contract.id), method: :delete   %></div>
    <%end%>
</div>