<h1>Edit Contract</h1>
<div class="row mt-3">
  <div class="col-md-4">
  		<%= form_for @contract, url: {action: "update"}  do |f| %>

		  	<b>Name: </b><%=@contract.tenant.name%>
			<div><b>Location: </b><%=@contract.unit.location.name%></div>
			<div class="form-group font-weight-bold">
				<%= f.label :unit %>
				<%= f.collection_select :unit_id, @contract.tenant.location.units.all, :id, :name %>
            </div>
			
			<div class="form-group font-weight-bold">
				<%= f.label :start_date %>
				<%= f.date_field :start_date, class: "form-control" %>
				<%= f.label :end_date %>
				<%= f.date_field :end_date, class: "form-control" %>
			</div>
            
			<div class="form-group font-weight-bold">
                <%= f.label :charge %>
                <%= f.text_field :charge, class: "form-control" %>
            </div>

			<div class="form-group font-weight-bold">
				<%= f.label :status %>
				<%= f.select :status, Contract.statuses.keys.map { |w| [w.humanize, w] } %>
			</div>

			<div class="form-group font-weight-bold text-center">
				<%= f.submit "Update Contract", class: "btn btn-primary form-control" %>
			</div>

		<% end %>
	</div>
</div>
<div>
<%= link_to "Back", tenant_url(@contract.tenant_id) %>
</div>