<div class="card m-3 p-3" style="width: 20rem">
  <div><b>Location: </b><%=location.name%></div>
  <div><b>User: </b><%=user.name%></div>
  <div><b>Email: </b><%=user.email%></div>
  <%= form_for(duty,
  			url: verify_location_duty_url(id: duty.id, location_id: duty.location.id),
			  method: :patch) do |f| %>
    <%= f.submit "Accept", class: "btn btn-primary" %>
    <div>
      <%= link_to "Decline",
			location_duty_url(id: duty.id,
			location_id: duty.location.id),
			method: :delete,
		class: "btn btn-danger"%>
    </div>
  </div>
<%end%>
<div>
