<h1>Edit Duty</h1>
<div class="row mt-3">
  <div class="col-md-4">

        <%= form_for @duty, url: {action: "update"}  do |f| %>
			
			<b> Keeper: </b><%= link_to @duty.user.name, user_url(@duty.user.id) %><br />
			<b> Location: </b><%= link_to @duty.location.name, location_url(@duty.location.id) %>

			<div class="form-group font-weight-bold">
				<%= f.label :start_date %>
				<%= f.date_field :start_date, class: "form-control" %>
			</div>

			<div class="form-group font-weight-bold">
				<%= f.label :end_date %>
				<%= f.date_field :end_date, class: "form-control" %>
			</div>

			<div class="form-group font-weight-bold text-center">
				<%= f.submit "Edit Duty", class: "btn btn-primary form-control" %>
			</div>

		<% end %>
	</div>
</div>
