<h1 align="center">User Registration</h1>

<div class="row mt-3">
  <div class="offset-4 col-md-4">

		<%= form_for(@user) do |f| %>
			<div class="form-group font-weight-bold">
				<%= label_tag(:name, "Name") %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
			<div class="form-group font-weight-bold">
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control" %>
			</div>

			<div class="form-group font-weight-bold">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>
			</div>

			<div class="form-group font-weight-bold">
				<%= label_tag(:email, "Confirm password") %>
				<%= f.password_field :password_confirmation, class: "form-control" %>
			</div>

			<div class="form-group font-weight-bold">
				<%= f.label :role %>
				<%= f.collection_select :role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize} %>
			</div>

			<div class="form-group font-weight-bold text-center">
				<%= f.submit "Create my account", class: "btn btn-primary form-control" %>
			</div>

		<%end%>
	</div>
</div>
