<h1><%= @user.name %></h1>
<b>Role: </b><%= @user.role.humanize %>
<hr/>

<div class="container">
    <div class="row">
    <div class="col-5">
        <h5>Places managed</h5>
            <% @duties.each do |d| %>
                <div class="card m-3" style="width: 300px">
                    <div class="card-body">
                        <b> Location: </b>
                        <%= link_to d.location.name, location_url(d.location_id) %><br />
                        
                            <%if d.start_date!=nil %>
                                <b> Start date: </b>
                                <%= d.start_date.strftime("%b %d %Y") %><br />
                                <b> End date: </b>
                                <%= d.end_date.strftime("%b %d %Y") %><br />

                            <%end%>
                        <%= link_to "edit", edit_location_duty_path(id: d.id, location_id:d.location_id), class: "float-right" %>       
                    </div>
                </div>
            <% end %>
        <div class="m-3"><%= link_to "Manage a location", locations_path%></div>
    </div>

    <div class="col-1">
    
    </div>
    <div class="col-5">
        <h5>Duty Logs</h5>
    </div>
    </div>
</div>