    <div class="mt-1">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Unit
                <%if full%>
                    <th scope="col"> Price
                <%end%>
                <th scope="col"> Tenant
                <th scope="col"> Balance
                <%if full%>
                    <th scope="col"> Contract
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% units.each do |u| %>
                <tr>
                <td scope="col"><%= u.name %></td>
                <%if full%>
                    <td scope="col"><%= u.price %></td>
                <%end%>
                
                <%if u.tenants.empty? %>
                    <td scope="col"><%=link_to "Add tenant",
                        new_location_tenant_url(location.id),
                        class: "btn btn-primary" %></td>
                        
                    <td scope="col"></td>
                    <%if full%>
                        <td scope="col"></td>
                    <%end%>
                <%else%>
                    <td scope="col">
                        <%tenant = u.tenants.first%>
                        <%=link_to tenant.name, tenant_url(tenant.id) %>
                    </td>
                    <td scope="col"><p class="text-success">0</p></td>
                    <%if full%>
                        <td scope="col">Start and end date </td>
                    <%end%>
                <%end%>
                </tr>
            <% end %>
            <tr>
                <td scope="col">
                <% if current_user.owner? && full %>
                    <%= link_to "Add units", new_location_unit_path(location.id) , class:"btn btn-primary mt-1"%>
                <% end %>
                </td>
                <%if full%>
                    <td scope="col"></td>
                <%end%>
                <td scope="col"></td>
                <td scope="col"></td>
                <%if full%>
                <td scope="col"></td>
                <%end%>
            </tr>
        </tbody>
    </table>
</div>