
<%if !location.keepers.include? current_user %>
    <%=link_to "Add myself as keeper", new_location_duty_path(location.id), class: "btn btn-primary"%>
<% else %>
    <div class="m-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Unit
                <%if full%>
                    <th scope="col"> Price
                <%end%>
                <th scope="col"> Tenant
                
                <th scope="col"> Balance
                <%if full%>
                    <th scope="col"> Link 
                    <th scope="col"> Contract
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% units.each do |u| %>
                <tr>
                <th scope="col"><%= u.name %>
                <%if full%>
                    <th scope="col"><%= u.price %></th>
                <%end%>
                <th scope="col">None</th>
                <th scope="col">0</th>
                <%if full%>
                    <th scope="col"><%=link_to "Check dues", users_url, class: "btn btn-primary mt-1" %></th>
                    <th scope="col">Start and end date </th>
                <%end%>
                </tr>
            <% end %>
            
        </tbody>
    </table>

    <% if current_user.owner? && full %>
        <%= link_to "Add units", new_location_unit_path(location.id) , class:"btn btn-primary mt-1"%>
    <% end %>
    </div>

    <div>
    </div>
<% end %>