
<%if !location.keepers.include? current_user %>
    <%=link_to "Add myself as keeper", new_location_duty_path(location.id), class: "btn btn-primary"%>
<% else %>
    <hr />
    <div class="container">
    <div class="row">
        <div class="col-4">
            <b> Keepers: </b>
            <% location.duties.each do |d| %>
                <%= link_to d.keeper.name, user_url(d.keeper) %>, 
            <% end %>
            
        </div>
        <div class="col-6">
            <b> Tenants: </b>
            <% location.tenants.each do |t| %>
                <%= link_to t.name, tenant_url(t.id) %>,
            <% end %>
            
            <%=link_to "+", new_location_tenant_path(location.id), class: "btn btn-primary"%>
           
        </div>
    </div>
    </div>

    <div class="m-3 mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Unit No
                <%if full%>
                    <th scope="col"> Price
                <%end%>
                <th scope="col"> Tenant
                
                <th scope="col"> Balance
                <%if full%>
                    <th scope="col"> Link 
                    <th scope="col"> Contract
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% units.each do |u| %>
                <tr>
                <th scope="col"><%= u.name %>
                <%if full%>
                    <th scope="col"><%= u.price %></th>
                <%end%>
                <th scope="col">None</th>
                <th scope="col">0</th>
                <%if full%>
                    <th scope="col"><%=link_to "Check dues", users_url, class: "btn btn-primary mt-1" %></th>
                    <th scope="col">Start and end date </th>
                <%end%>
                </tr>
            <% end %>
            
        </tbody>
    </table>

    <% if current_user.owner? && full %>
        <%= link_to "Add units", new_location_unit_path(location.id) , class:"btn btn-primary mt-1"%>
    <% end %>
    </div>

    <div>
    </div>
<% end %>