    <div class="mt-1"> 
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Unit
                <%if full%>
                    <th scope="col"> Price
                <%end%>
                <th scope="col"> Tenant
                <th scope="col"> Balance
                <%if full%>
                    <th scope="col"> Contract
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% units.each do |u| %>
                <%if @active_contracts_count && @active_contracts_count[u.id] == nil %>
                <tr>
                    <td scope="col"><%= link_to u.name, location_unit_url(location_id: location.id,
                                                                      id: u.id) %></td>
                
                    <%if full%>
                        <td scope="col"><%= u.price %></td>
                    <%end%>
                    <td scope="col"><%=link_to "Add contract",
                        new_location_contract_url(location.id, unit_id: u.id), 
                        class: "btn btn-primary" %></td>
                        
                    <td scope="col"></td>
                    <%if full%>
                        <td scope="col"></td>
                    <%end%>
                </tr>
                <%else%>
                    <% u.contracts.where(status: status).each_with_index do |c, i| %>
                    <tr>
                    <%if i==0%>
                        <td scope="col"><%= link_to u.name, location_unit_url(location_id: location.id,
                                                                      id: u.id) %></td>   
                    <%else%>
                        <td scope="col"></td>
                    <%end%>
                        <%if full%>
                            <td scope="col"><%= c.charge %></td>
                        <%end%>
                        <td scope="col">
                            <%tenant = c.tenant.name%>
                            <%=link_to c.tenant.name , tenant_url(c.tenant.id) %>
                        </td>
                        <td scope="col"><p class><%=c.tenant.balance%></p></td>
                        <%if full%>
                            <td scope="col"><%=c.start_date.strftime("%b %d %Y")%> to
                            <%=c.end_date.strftime("%b %d %Y")%>
                            </td>
                        <%end%>
                    </tr>
                    <%end%>
                <%end%>
                </tr>
            <% end %>
            <tr>
                <td scope="col">
                <% if full && current_user.owner?  %>
                    <%= link_to "Add units", new_location_unit_path(location.id) , class:"btn btn-primary mt-1"%>
                <% end %>
                </td>
                <%if full%>
                    <td scope="col"></td>
                <%end%>
                <td scope="col"></td>
                <td scope="col"></td>
                <%if full%>
                <td scope="col"></td>
                <%end%>
            </tr>
        </tbody>
    </table>
</div>