<tr>
    <%= form_for(p, url: location_payments_url(location_id: location), method: 'POST') do |f|%>
    <td scope="col">
        <%= f.date_field :pay_date, class: "form-control" %>
    </td>
    <td scope="col">
        <%= f.collection_select :tenant_id, tenants.all, :id, :name %>
    </td>
    <td scope="col">
        <%= f.number_field :amount, class: "form-control" %>
    </td>
    <td scope="col">
        <%=current_user.name%></td>
    <td scope="col"><%= f.text_field :remark, class: "form-control" %></td>
    <td scope="col">
        <%= f.submit "Create Payment", class: "btn btn-primary form-control" %>
    <%end%>
</tr>