
    <td scope="col"><%= p.pay_date.strftime("%b %d %y") %></td>
    <td scope="col"><%= link_to p.tenant.name, tenant_url(p.tenant.id) %></td>
    <td scope="col"><%= p.amount%>
    <td scope="col"></td>
    <td scope="col"><%= p.user.name%>
    <td scope="col"><%= p.remark%>
    <td scope="col"><% if p.accepted? %>✔
                    <%elsif p.declined? %>Declined
                    <%else%>
                        <%if p.tenant.location.user == current_user%>
                            <%=link_to "A", location_payment_url(location_id: p.tenant.location_id, id: p.id), method: :patch, class: "btn btn-success"%>
                            <%=link_to "D", location_payment_url(location_id: p.tenant.location_id, id: p.id, s: "d"), method: :patch, class: "btn btn-danger"%>
                        <%end%>
                        <%if p.user == current_user%>
                            <%=link_to "X", location_payment_url(location_id: p.tenant.location_id, id: p.id), method: :delete, class: "btn btn-danger"%>
                        <%end%>
                    <%end%>
