

<div class="mt-2">

<div class="m-3">The following is a table to show you all the payments within this location.</div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Date
                <th scope="col"> Tenant
                <th scope="col"> Payment/Due
                <th scope="col"> Collector/Setter
                <th scope="col"> Remarks
                <th scope="col"> Verified
            </tr>
        </thead>
        <tbody>

            <% superlist = (payments.to_a + dues.to_a).sort_by{|x| x[:due_date] || x[:pay_date]} %>
            <% superlist.each do |p| %>
                <%if p[:pay_date] %>
                <tr>
                <td scope="col"><%= p.pay_date.strftime("%B %d %Y") %></td>
                <td scope="col"><%= link_to p.tenant.name, tenant_url(p.tenant.id) %></td>
                <td scope="col"><%= p.amount%>
                <td scope="col"><%= p.user.name%>
                <td scope="col"><%= p.remark%>
                <td scope="col"><% if p.verified %>✔
                                <%else%>
                                    <%if p.tenant.location.user == current_user%>
                                        <%p.update(verified: true)%>
                                        <%=link_to "A", location_url(id:p.tenant.location_id, tab: "balance_tab"), class: "btn btn-success" %>
                                    <%end%>
                                    <%if p.user == current_user%>
                                        <%=link_to "X", location_payment_url(location_id: p.tenant.location_id, id: p.id), method: :delete, class: "btn btn-danger"%>
                                    <%end%>
                                <%end%>
                 </tr>
                <%else%>

                <td scope="col"><%= p.due_date.strftime("%B %d %Y") %></td>
                <td scope="col"><%= link_to p.contract.tenant.name, tenant_url(p.contract.tenant.id) %></td>
                <td scope="col"><%= -p.amount%>
                <td scope="col"><%= "None"%>
                <td scope="col"><%= link_to p.contract.tenant.name + "Contract", tenant_url(id: p.contract.tenant.id)%>
                <td scope="col"><%= true%>   

                <%end%>

            <%end%>
            <tr>
                <th scope="col">Total</th>
                <td scope="col"></td>
                <th scope="col"><%=@sum%></th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>        
            </tr>
            <%=render partial: 'payments/new', locals: {p: Payment.new,
                                                        tenants: tenants,
                                                        location: @location}%>

            
        </tbody>
    </table>
</div>