<div>
<h1><%= @location.name %></h1>
</div>
<hr/>

<div class="container">
<div class="row">
    <div class="col-4">
        <b> Keepers: </b>
        <% @location.duties.each do |d| %>
            <%= link_to d.user.name, user_url(d.user_id) %>
        <% end %>
        <%=link_to "+", new_location_duty_path(@location.id), class: "btn btn-primary"%>
    </div>
    <div class="col-6">
        <b> Tenants: </b>
        <% @location.tenants.each do |t| %>
            <%= link_to t.name, tenant_url(t.id) %>,
        <% end %>
        <%=link_to "+", new_location_tenant_path(@location.id), class: "btn btn-primary"%>
    </div>
</div>
</div>

<div class="m-3 mt-5">
<table class="table">
    <thead>
        <tr>
            <th scope="col"> Unit No
            <th scope="col"> Price
            <th scope="col"> Tenant
            <th scope="col"> Balance
            <th scope="col"> Link 
            <th scope="col"> Contract
        </tr>
    </thead>
    <tbody>
        <% @units.each do |u| %>
            <tr>
            <th scope="col"><%= u.name %>
            <th scope="col"><%= u.price %></th>
            <th scope="col">None</th>
            <th scope="col">0</th>
            <th scope="col"><%=link_to "Check dues", users_url, class: "btn btn-primary mt-1" %></th>
            <th scope="col">Start and end date </th>
            </tr>
        <% end %>
        
    </tbody>
</table>

<% if can? :create, :unit %>
    <%= link_to "Add units", new_location_unit_path , class:"btn btn-primary mt-1"%>
<% end %>
</div>

<div>
</div>