<div>
<h1><%= @location.name %></h1>
</div>

<h5 class="mt-3 mb-3">Location Manager</h5>
<h1><%= @log %></h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link <%=@tab?"": "active"%> " id="nav-home-tab" data-bs-toggle="tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Units</a>
    <a class="nav-item nav-link" id="nav-info-tab" data-bs-toggle="tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false">Info</a>
    <a class="nav-item nav-link" id="nav-keepers-tab" data-bs-toggle="tab" data-toggle="tab" href="#nav-keepers" role="tab" aria-controls="nav-keepers" aria-selected="false">Keepers</a>
    <a class="nav-item nav-link <%=@tab=="balance_tab"? "active": ""%>" id="nav-balance-tab" data-bs-toggle="tab" data-toggle="tab" href="#nav-balance" role="tab" aria-controls="nav-balance" aria-selected="false">Total Balance</a>
    <a class="nav-item nav-link" id="nav-tenants-tab" data-bs-toggle="tab" data-toggle="tab" href="#nav-tenants" role="tab" aria-controls="nav-tenants" aria-selected="false">Tenants</a>
    <a class="nav-item nav-link" id="nav-exp-tab" data-bs-toggle="tab" data-toggle="tab" href="#nav-exp" role="tab" aria-controls="nav-exp" aria-selected="false">Expired</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade <%=@tab?"": "show active"%>" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="mt-2">
    <div class="m-3">Here is an overview of how each unit is doing.</div>
    <%= render partial: 'shared/units', locals: {location: @location,
                                             units: @units,
                                             full: true,
                                             status: :active} %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
    <%= render partial: 'info', locals: {location: @location, units: @units} %>
  </div>
  <div class="tab-pane fade" id="nav-keepers" role="tabpanel" aria-labelledby="nav-keepers-tab">
    <%= render partial: 'keepers', locals: {location: @location, units: @units} %>
  </div>
  <div class="tab-pane fade <%=@tab=="balance_tab"? "show active": ""%>" id="nav-balance" role="tabpanel" aria-labelledby="nav-balance-tab">
    <div class="m-3">The following is a table to show you all the payments and dues for this location.</div>
    <%= render partial: 'payments/table', locals: {payments: @payments, tenants: @tenants, dues: @dues} %>
  </div>
  <div class="tab-pane fade" id="nav-tenants" role="tabpanel" aria-labelledby="nav-tenants-tab">
    <%= render partial: 'tenants', locals: {location: @location, tenants: @tenants} %>
  </div>
  <div class="tab-pane fade" id="nav-exp" role="tabpanel" aria-labelledby="nav-exp-tab">
    <div class="mt-2">
    <div class="m-3">Here is an overview of expired contracts.</div>
    <%= render partial: 'shared/units', locals: {location: @location,
                                             units: @units,
                                             full: true,
                                             status: :expired} %>

                                             
    </div>
  </div>
  
  </div>
