<h1>Dashboard</h1>
<nav>
<%=link_to "Contract Status Check", locations_url(refresh: true), class: "btn btn-success mb-2"%>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link <%= @tab == nil ? "active" : "" %>" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Locations</a>
    <a class="nav-item nav-link <%= @tab == "pending_tab" ? "active" : "" %> " id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="false">Pending</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade <%= @tab == nil ? "show active" : "" %>" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%if @locations!=nil %>
            <div class="mt-3">These are the locations you are managing.</div>
            <div class="row">
                <% @locations.each do |location| %>
                    <div class="card m-3 p-3" style="width: 20rem">
                    <%= link_to location.name, location_path(location.id), class: "btn btn-primary" %>
                    <%= render partial: 'shared/units', locals: {location: location,
                                                                units: location.units,
                                                                full: false,
                                                                status: :active} %>
                    </div>
                <% end %>
            </div>
        <% else%>
            You currently do not own any locations.
        <%end%>

        <div class="mb-5">
            <%if current_user && current_user.owner?%>
            <div class="mt-3"><%= link_to "Add new location", new_location_path %></div>
            <%else%>
            <div class="mt-3"><%= link_to "Search new location", locations_search_path %></div>
            <% end %>
        </div>
    </div>
    <div class="tab-pane fade <%= @tab == "pending_tab" ? "show active" : "" %> " id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
        <%if current_user.keeper?%>
            <div class="mt-3">Please wait for your requests to be verified.</div>
            <div class="row">
                <% @uv_locations.each do |location| %>
                    <div class="card m-3 p-3" style="width: 20rem">
                    <%= link_to location.name, location_path(location.id), class: "btn btn-secondary disabled" %>
                    <div class="mt-1"><b> Owned by:</b> <%=location.user.name%></div>
                    <div class="mt-1"><b> Email:</b> <%=location.user.email%></div>
                    </div> 
                <% end %>
            </div>
        <% else %>
            <%if @pending && !@pending.empty?%>
                <div class="m-3">Here are pending requests to housekeep your location.</div>
                    <div class="row">
                    <% @pending.each do |d| %>
                        <%= render partial: 'duties/pending', locals: { duty: d,
                                                                        location: d.location,
                                                                        user: d.user} %>
                    <%end %></div>
            <%else%>
                <div class="ml-3 mt-3">There are no pending housekeepers to be added.</div>
            <%end%>
        
        <% end %>
  </div>
</div>
